@model Piece[][]
@{
    ViewData["Title"] = "EditScorePiece";
}
@{
    int count = 0;
    int ScoreID = -1;
}
<h1 style="padding-bottom:10px; padding-top:20px;">Edit Pieces</h1>
<form asp-action="Submit" style="padding-bottom:20px;">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="accordion" style="padding-top:20px;padding-bottom:20px;" id="accordionExample">
        @for (int i = 0; i < Model.Count(); i++)
        {
            <div class="card">
                <div class="card-header" id="head @ScorePieces.Instruments[i]">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" style="color:#17a2b8;" type="button" data-toggle="collapse" data-target="#@ScorePieces.Instruments[i]" aria-expanded="false" aria-controls="@ScorePieces.Instruments[i]">
                            @ScorePieces.Instruments[i]
                        </button>
                    </h5>
                </div>
                <div id="@ScorePieces.Instruments[i]" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        @for (int j = 0; j < Model[i].Length; j++)
                        {

                            @if (Model[i][j] != null)
                            {
                                { ScoreID = Model[i][j].ScoreId; }

                        <div class="form-group">
                            <label style="padding:10px;">@Model[i][j].Instrument:</label>
                            <input id="numberPicker" style="width:20%" type="number" name="results[@count][0]" min="0" max="10" value="@Model[i][j].NumberofParts" />
                            <label style="padding:10px;">Edition:</label>
                            <input id="textbox" style="width:20%" type="text" name="results[@count][1]" value="@Model[i][j].Edition" />
                            <label style="padding:10px;">Rating:</label>
                            <select name="results[@count][2]">
                                @if (Model[i][j].AggregateRating <= 5 && Model[i][j].AggregateRating > 4)
                                {
                                    <option selected="selected">Excellent</option>
                                    <option>Good</option>
                                    <option>Fair</option>
                                    <option>Poor</option>
                                    <option>Aweful</option>
                                }
                                else if (Model[i][j].AggregateRating <= 4 && Model[i][j].AggregateRating > 3)
                                {
                                    <option>Excellent</option>
                                    <option selected="selected">Good</option>
                                    <option>Fair</option>
                                    <option>Poor</option>
                                    <option>Aweful</option>
                                    <option>Unknown</option>
                                }
                                else if (Model[i][j].AggregateRating <= 3 && Model[i][j].AggregateRating > 2)
                                {
                                    <option>Excellent</option>
                                    <option>Good</option>
                                    <option selected="selected">Fair</option>
                                    <option>Poor</option>
                                    <option>Aweful</option>
                                    <option>Unknown</option>
                                }
                                else if (Model[i][j].AggregateRating <= 2 && Model[i][j].AggregateRating > 1)
                                {
                                    <option>Excellent</option>
                                    <option>Good</option>
                                    <option>Fair</option>
                                    <option selected="selected">Poor</option>
                                    <option>Aweful</option>
                                    <option>Unknown</option>
                                }
                                else if (Model[i][j].AggregateRating <= 1 && Model[i][j].AggregateRating > 0)
                                {
                                    <option>Excellent</option>
                                    <option>Good</option>
                                    <option>Fair</option>
                                    <option>Poor</option>
                                    <option selected="selected">Aweful</option>
                                    <option>Unknown</option>
                                }
                                else
                                {
                                    <option>Excellent</option>
                                    <option>Good</option>
                                    <option>Fair</option>
                                    <option>Poor</option>
                                    <option>Aweful</option>
                                    <option selected="selected">Unknown</option>
                                }
                            </select>
                            @{count++;}
                        </div>
                            }
                            else
                            {
                                <div class="form-group">
                                    <label style="padding:10px;">@ScorePieces.names[i][j]:</label>
                                    <input id="numberPicker" style="width:20%" type="number" name="results[@count][0]" min="0" max="10" value="0"/>
                                    <label style="padding:10px;">Edition:</label>
                                    <input id="textbox" style="width:20%" type="text" name="results[@count][1]" value="Default"/>
                                    <label style="padding:10px;">Rating:</label>
                                    <select name="results[@count][2]">
                                            <option>Excellent</option>
                                            <option>Good</option>
                                            <option>Fair</option>
                                            <option>Poor</option>
                                            <option>Aweful</option>
                                            <option selected="selected">Unknown</option>
                                        
                                    </select>
                                        @{count++;}
</div>
                            }
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="text-center">
        <input type="hidden" value="@ScoreID" name="sid" />
        <input type="submit" class="btn btn-info btn-md" style="width: 180px;" value="Save" />
    </div>

</form>