@model IEnumerable<Lizst.Models.Score>

@{
    ViewData["Title"] = "Search Results";
}
<div>
    <div style="width:400px; margin-left:36%">
        <form style="width:100%; padding-bottom:30px; padding-top:30px" class="form-inline" method="post" action="/Results/">
            <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search" name="search">
            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Composer</th>
                <th>Genre</th>
                <th>Publisher</th>
                <th>Secondary Classification</th>
                <th>In Stock</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                @foreach (Lizst.Models.Score score in Model)
                {
                    <tr>
                        <td>@score.Title</td>
                        <td>@score.Composer</td>
                        <td>@score.Genre</td>
                        <td>@score.Publisher</td>
                        <td>@score.SecondaryClassification</td>
                        <td>@score.InStock</td>
                        <td>
                            <a style="color:#17a2b8;" asp-controller="Score" asp-action="Details" asp-route-id="@score.ScoreId">Details</a> |
                            <a style="color:#17a2b8;" asp-controller="Cart" asp-action="AddToCart" asp-route-id="@score.ScoreId">Add to Cart</a>
                        </td>

                    </tr>
                }
            }
        </tbody>
    </table>
</div>