@model ICollection<Lizst.Models.Score>

@{
    ViewData["Title"] = "Shopping Cart";
}

<h1 style="padding-top:10px; padding-bottom:10px;">Shopping Cart</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <td>
                ID
            </td>
            <td>
                Title
            </td>
            <td>
                Composer
            </td>
            <td>
                Number of Parts
            </td>
            <td>

            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (Lizst.Models.Score score in Model)
        {
            <tr>
                <td>
                    @score.ScoreId
                </td>
                <td>
                    @score.Title
                </td>
                <td>
                    @score.Composer
                </td>
                <td>
                    @score.NumberOfParts
                </td>
                <td>
                    <a class="btn btn-info" asp-action="RemoveFromCart" asp-route-id="@score.ScoreId">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div style="padding-top:10px;" class="text-center">
    @if (Model.Any())
    {
        <a style="width:170px" class="btn btn-info" asp-action="SelectEnsemble">Select Ensemble</a>
    }
</div>
