@model Lizst.Models.ScorePieces

@{
    ViewData["Title"] = "AddPieces";
}

@{
    int count = 0;
}

<h1>Index</h1>
<form asp-action="Submit" style="padding-top:20px; padding-bottom:20px;">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="accordion" style="padding-top:20px;padding-bottom:20px;" id="accordionExample">
        @for (int i = 0; i < Model.Instruments.Count(); i++)
        {
            <div class="card">
                <div class="card-header" id="head @Model.Instruments[i]">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" style="color:#17a2b8;" type="button" data-toggle="collapse" data-target="#@Model.Instruments[i]" aria-expanded="false" aria-controls="@Model.Instruments[i]">
                            @Model.Instruments[i]
                        </button>
                    </h5>
                </div>

                <div id="@Model.Instruments[i]" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        @for (int j = 0; j < Model.names[i].Length; j++)
                        {
                            <div class="form-group">
                                <label style="padding:10px;">@Model.names[i][j]:</label>
                                <input id="numberPicker" style="width:20%" type="number" name="results[@count]" min="0" max="10">
                                @{count++;}
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>

    <input type="submit" class="btn btn-info btn-md" style="width: 180px;" value="Save" />
</form>

