@model SearchModel

@{
    ViewData["Title"] = "Details";
}

<h1 style="padding-bottom:20px; padding-top:20px;">Details</h1>
<div class="card border-info">
    <h3 class="card-header bg-info" style="color:white;">@Model.Score.Title</h3>
    <div class="card-body">
        <h5>Composer:</h5>
        <p class="card-text">@Model.Score.Composer</p>
        <h5>Genre:</h5>
        <p class="card-text">@Model.Score.Genre</p>
        <h5>Number of Parts:</h5>
        <p class="card-text">@Model.Score.NumberOfParts</p>
        <h5>Notes:</h5>
        <p class="card-text">@Model.Score.Notes</p>

        <div class="text-center">
            <a style="width:120px;" asp-action="EditScore" asp-route-id="@Model.Score.ScoreId"  asp-route-search="@Model.Search" asp-route-genre="@Model.Genre" class="btn btn-info">Edit</a>
            <a style="width:120px;" class="btn btn-info" asp-action="Index" asp-route-search="@Model.Search" asp-route-genre="@Model.Genre">Back to List</a>
        </div>
    </div>
</div>