@model Lizst.Models.Score

@{
    ViewData["Title"] = "Details";
}

<h1 style="padding-bottom:20px; padding-top:20px;">Details</h1>
<div class="card border-info">
    <h3 class="card-header bg-info" style="color:white;">@Model.Title</h3>
    <div class="card-body">
        <h5>Composer:</h5>
        <p class="card-text">@Model.Composer</p>
        <h5>Genre:</h5>
        <p class="card-text">@Model.Genre</p>
        <h5>Number of Parts:</h5>
        <p class="card-text">@Model.NumberOfParts</p>

        <div class="text-center">
            <a style="width:120px;" asp-action="Edit" asp-route-id="@Model.ScoreId" class="btn btn-info">Edit</a>
            <a style="width:120px;" class="btn btn-info" asp-action="Index">Back to List</a>
        </div>
    </div>
</div>