@model SearchModel

@{
    ViewData["Title"] = "Index";
}

<h1 style="padding-bottom:10px; padding-top:10px;">Scores</h1>

<div style="padding-bottom:60px">
    <a class="btn btn-info" style="float:left" asp-action="AddScore">Add Score</a>
    <form style="display:inline-block; float:right;" class="form-inline" method="post" action="/Score/">
        <input class="form-control mr-sm-2 w-75" type="text" value="@Model.Search" aria-label="Search" name="search">
        <button type="submit" class="btn my-sm-0 btn-outline-secondary"> <i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Score.ScoreId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score.Composer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score.Genre)
            </th>

            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Results)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ScoreId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Composer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>

                <td>
                    <a style="color:#17a2b8;" asp-action="EditScore" asp-route-id="@item.ScoreId" asp-route-search="@Model.Search" asp-route-genre="@Model.Genre">Edit</a> |
                    <a style="color:#17a2b8;" asp-action="Details" asp-route-id="@item.ScoreId" asp-route-search="@Model.Search" asp-route-genre="@Model.Genre">Details</a> |
                    <a style="color:#17a2b8;" asp-action="Delete" asp-route-id="@item.ScoreId">Delete</a> |
                    <a style="color:#17a2b8;" asp-controller="Cart" asp-action="AddToCart" asp-route-id="@item.ScoreId">Add to Cart</a>
                </td>
            </tr>
        }
    </tbody>
</table>
