@model IEnumerable<Lizst.Models.Score>

@{
    ViewData["Title"] = "Index";
}

<h1 style="padding-bottom:10px; padding-top:10px;">Scores</h1>

<p>
    <a class="btn btn-info" asp-action="AddScore">Add Score</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Composer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondaryClassification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfParts)
            </th>
            <th></th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Composer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondaryClassification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfParts)
            </td>
            <td>
                <a asp-action="EditScore" asp-route-id="@item.ScoreId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ScoreId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ScoreId">Delete</a> |
                <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@item.ScoreId">Add to Cart</a>
            </td>
        </tr>
}
    </tbody>
</table>
